<section>
        <div class="card-footer" style="margin-top: -7%;text-align: center;color: #5663f7;">
          <hr style="width: 75%;background-color: #FFFFFF!important;color: #FFFFFF!important;border: 5px solid #FFFFFF!important;border-radius:25px;margin-left: 12%;">
          <h4><span style="font-size: 40px;">Azury Manager</span>
          </h4>
          <h5 style="text-align: center;">
            <a href="https://azury.live" target="_blank" style="font-size: 12px; color: #888a9b!important;text-decoration: none;">&copy; Copyright Azury.live | All rights served | Ping: <%= bot.ws.ping %></a><br><br>
          </h5>
        </div>
</section>